/* Success */
.notification_success {
  background: #cdfccd;
}

.notification_success .timer {
  background: #86aa86;
}

/* Error */
.notification_error {
  background: #ffe3e3;
}

.notification_error .timer {
  background: #c28585;
}

/* Warning */
.notification_warning {
  background: #fff9c2;
}

.notification_warning .timer {
  background: #c1c377;
}

.inner-wrapper {
  padding: 5px;

  position: relative;
  overflow: hidden;
}

.timer {
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  animation-name: progress;
  animation-duration: var(--value);
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.close {
  display: flex;
  position: absolute;
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  top: 5px;
  right: 5px;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  color: #ffe3e3;
  font-weight: bold;
  background: var(--black);
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid var(--white);
  overflow: hidden;
  opacity: 0.8;
}

.close::before,
.close::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--white);
  opacity: inherit;
}

.close:hover {
  opacity: 1;
  transition: opacity 0.2s ease-out;
}

.close::before {
  transform: rotate(45deg);
}

.close::after {
  transform: rotate(-45deg);
}

.notification-header {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  font-size: 12px;
}

.notification-body {
  font-weight: bold;
}

@keyframes fadeOut {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 0;
  }
}

@keyframes progress {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

/* new styles */

.notification {
  display: block;
  background-color: var(--black);
  opacity: 0.8;
  border-radius: 4px;
  -webkit-animation: fadeOut 0.3s linear;
  animation: fadeOut 0.3s linear;
}

.notification.show {
  display: block;
  -webkit-animation: fadeIn 0.3s linear;
  animation: fadeIn 0.3s linear;
}

.notification__content {
  padding: 16px 24px 16px 64px;
  font-size: 16px;
  line-height: 20px;
  color: var(--white);
  position: relative;
}

.notification_success .notification__content:after,
.notification_error .notification__content:after {
  content: '';
  position: absolute;
  left: 24px;
  top: 50%;
  width: 24px;
  height: 24px;
  transform: translate(0, -50%);
  background-size: 24px 24px;
}

.notification_success .notification__content:after {
  background: url(./icon-circle-check.svg) center no-repeat;
}

.notification_error .notification__content:after {
  background: url(./icon-error.svg) center no-repeat;
}

.notification__content a {
  color: var(--middle-blue);
  text-decoration: none;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}
